.navbar {
  height: 80px;
  background-color: #128275;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 5px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  height: 100%; /* Set height to 100% */
  object-fit: contain; /* or object-fit: cover; depending on your preference */
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}